.text-name {
    -fx-font-size: 10.7px;
}
.text{
    -fx-font-size: 12px;
}

.text-flow-sender {
    -fx-background-color: rgb(100,149,237);
    -fx-background-radius: 10;
    -fx-padding: 5;
}
.text-flow-receiver {
    -fx-background-color: rgb(219,112,147);
    -fx-background-radius: 10;
    -fx-padding: 5;
}
.vbox-background{
    -fx-background-color: rgb(230, 230, 250)
}
.tab-colour-red{
    -fx-background-color: rgb(205,92,92)
}
.tab-colour-green{
    -fx-background-color: rgb(60,179,113)
}
.tab-colour-yellow{
    -fx-background-color: rgb(240,230,140)
}
.tab-colour-blue{
    -fx-background-color: rgb(100,149,237)
}