.anchorpane{
    -fx-background-image: url("../Images/utility/background2.png");
    -fx-background-size: cover;
}
.gamemaster{
    -fx-image: url("../Images/utility/gamemaster.png");
}
.decoration{
    -fx-image: url("../Images/utility/decoration1.png");
}
.decoration2{
    -fx-image: url("../Images/utility/decoration2.png");

}