.anchorpane{
    -fx-background-image: url("../Images/utility/background2.png");
    -fx-background-size: cover;
}


.customlabel{
    -fx-image: url("../Images/utility/gamemastercard2.png");
}

.decoration{
    -fx-image: url("../Images/utility/decoration1.png");
}
.decoration2{
    -fx-image: url("../Images/utility/decoration2.png");
}