.stackpane {
    -fx-background-image: url('../Images/utility/backg5.png');
    -fx-background-size: cover;
}

.check-box {
    -fx-background-image: url('../Images/utility/decoration1.png');
    -fx-background-size: cover;
}


.decorationbutton{
    -fx-background-image: url('../Images/utility/decoration1.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}

.imageview{
    -fx-image: url('../Images/utility/gamemastercard3.png');
    -fx-effect: dropshadow(gaussian, rgba(90, 90, 90, 1.0), 20, 0.5, 0, 0);
}

#redButton{
    -fx-background-image: url('../Images/utility/pawn_red.png');
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.3, 0, 0);
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#redButton.pressed{
    -fx-background-image: url('../Images/utility/pawn_red_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#redButton:hover{
    -fx-background-image: url('../Images/utility/pawn_red_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}


#greenButton{
    -fx-background-image: url('../Images/utility/pawn_green.png');
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.3, 0, 0);
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#greenButton.pressed{
    -fx-background-image: url('../Images/utility/pawn_green_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#greenButton:hover{
    -fx-background-image: url('../Images/utility/pawn_green_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}


#blueButton{
    -fx-background-image: url('../Images/utility/pawn_blue.png');
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.3, 0, 0);
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#blueButton.pressed{
    -fx-background-image: url('../Images/utility/pawn_blue_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#blueButton:hover{
    -fx-background-image: url('../Images/utility/pawn_blue_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}


#yellowButton{
    -fx-background-image: url('../Images/utility/pawn_yellow.png');
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.3, 0, 0);
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#yellowButton.pressed{
    -fx-background-image: url('../Images/utility/pawn_yellow_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}
#yellowButton:hover{
    -fx-background-image: url('../Images/utility/pawn_yellow_selected.png');
    -fx-background-size: cover;
    -fx-background-color: transparent;
}


.selectionbutton{
    -fx-background-color: #e4dfb2;
    -fx-border-width: 2px;
    -fx-border-color: #2B1806;
    -fx-border-radius: 10;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
}

.selectionbutton:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
}

.selectionbutton:pressed{
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
    -fx-translate-y: 2px;
}

.text-field{
    -fx-background-color: ivory;
    -fx-border-width: 6px;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
    -fx-effect: dropshadow(gaussian, rgba(90, 90, 90, 1.0), 20, 0.5, 0, 0);
}

.label {
    -fx-font-size: 30px;
    -fx-font-weight: bold;
    -fx-font: 30 "Agency FB";
}