.manuscriptCard {
    /*-fx-image: url("../Images/cards/card1_back.png");*/

    /*-fx-border-radius: 25px;*/
}

.gridpane{
    -fx-background-color: #000000;
    -fx-alignment: centre;
}

.rettangolo{

}

/* styles.css */
.text-name {
    -fx-font-size: 10.7px;
}
.text{
    -fx-font-size: 12px;
}

.text-flow-sender {
    -fx-background-color: rgb(100,149,237);
    -fx-background-radius: 10;
    -fx-padding: 5;
}
.text-flow-receiver {
    -fx-background-color: rgb(219,112,147);
    -fx-background-radius: 10;
    -fx-padding: 5;
}

.vbox-background {
    -fx-background-color: rgb(230, 230, 250);
}
