.anchorpane{
    -fx-background-image: url("../Images/utility/background2.png");
    -fx-background-size: cover;
}

.customlabel{
    -fx-image: url("../Images/utility/gamemastercard.png");
}


.imagetest{
    -fx-image: url("../Images/utility/gamemaster.png");
}