.anchorpane{
    -fx-background-image: url("../Images/utility/backg5.png");
    -fx-background-size: cover;
}

.customlabel{
    -fx-image: url("../Images/utility/gamemastercard.png");
    -fx-effect: dropshadow(gaussian, rgba(90, 90, 90, 1.0), 20, 0.5, 0, 0);
}


.imagetest{
    -fx-image: url("../Images/utility/gamemaster.png");
    -fx-effect: dropshadow(gaussian, rgba(90, 90, 90, 1.0), 20, 0.5, 0, 0);
}

.button{
    -fx-background-color: #e4dfb2;
    -fx-border-width: 2px;
    -fx-border-color: #6f6232;
    -fx-border-radius: 10;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
}

.button:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
}

.button:pressed{
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
    -fx-translate-y: 2px;
}