.anchorpane {
    -fx-background-image: url("../Images/utility/mainBackground.png");
    -fx-background-size: cover;
}

.imageview {
    -fx-image: url("../Images/utility/CodexNaturalisBackgroundRemoved.png");
}
.playbutton{
    -fx-background-color: #e4dfb2;
    -fx-border-width: 6px;
    -fx-border-color: #6f6232;
    -fx-border-radius: 10;
    -fx-background-radius: 14;
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 10, 0.5, 0, 0);
}

.playbutton:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
}

.playbutton:pressed{
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
    -fx-translate-y: 2px;
}