.anchorpane {
    -fx-background-image: url("../Images/utility/backg5.png");
    -fx-background-size: cover;
}

.imageview {
    -fx-image: url("../Images/utility/CodexNaturalisBackgroundRemoved.png");
}

.playbutton{
    -fx-background-color: #e4dfb2;
    -fx-border-width: 6px;
    -fx-border-color: #c4a64d;
    -fx-border-radius: 10;
}

.playbutton:hover{
    -fx-effect: dropshadow(gaussian, rgba(255, 255, 255, 1.0), 20, 0.5, 0, 0);
}

.playbutton:pressed{
    -fx-effect: innershadow(gaussian, rgba(255, 255, 255, 0.5), 10, 0.5, 0, 0);
    -fx-translate-y: 2px;
}